:root
{
    --dark-background: #292929;
    --text-color: #bbc3c8;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--dark-background);
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
}

div.content
{
    margin-top: 5vh;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: justify;
    font-size: 1.3em;
    letter-spacing: normal;
    padding: 2vh;
    /*box-shadow: rgba(0, 0, 0, 0.4) 10px 10px;*/
    /*font-family: 'Verdana', sans-serif;*/
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

div.content a
{
    color: #07a5a5;
}

div.content a:visited
{
    color: #07a5a5;
}

div.content h1
{
    color: #c9d0d4;
    font-size: 2.2em;
    font-weight: 100;
    padding: 0 0 2vh;
    border-bottom: solid #555;
}

img
{
    max-width: 100%;
}

.footer
{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 4vh;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.navigate-link-div
{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 800px) {
    div.content
    {
        width: 90%;
    }
}